@font-face {
  font-family: "source_sans_proregular";
  src: local("source_sans_proregular"),
    url("./fonts/SourceSansPro-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  height: 100%;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  font-family: "source_sans_proregular";
  padding: 20px;
}

h2,
p,
span,
a {
  color: rgb(255, 255, 255);
}

h2 {
  font-size: 28px;
}

p,
a {
  font-size: 16px;
}

span {
  font-size: 14px;
}

a {
  text-decoration: none;
}

button {
  font-size: 12px;
  color: rgb(48, 43, 61);
  background: rgb(255, 255, 255);
  border-radius: 6px;
  cursor: pointer;
  outline: none;
}
